@media (min-width: 1281px) {
  /* Desktops */

  .team {
    display: inline-block;
    width: 48%;
  }

  .team .memberPhoto {
    width: 75%
  }

  .dev div {
    width: 80%
  }

  .team img {
    width: 3em;
  }
  .team h3 {
    font-size: 1.5em;
    margin: 1em;
  }


}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Laptops/Desktops */
  .team {
    display: inline-block;
    width: 48%;
  }

  .team .memberPhoto {
    width: 75%
  }

  .dev div {
    width: 80%
  }

  .team img {
    width: 3em;
  }
  .team h3 {
    font-size: 1.5em;
    margin: 1em;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets, Ipads, Portrait */
  .team {
    display: inline-block;
    width: 48%;
  }

  .team .memberPhoto {
    width: 75%
  }

  .dev div {
    width: 80%
  }

  .team img {
    width: 2em;
  }
  .team h3 {
    font-size: 1em;
    margin: 1em;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .team img {
    width: 2em;
  }
  .team .memberPhoto {
    width: 9em;
  }
  .dev div {
    width: 70%;
  }
  .team h3 {
    font-size: 1.1em;
    margin: .7em;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  /* Mobile Phones */

  .team img {
    width: 2em;
  }
  .team .memberPhoto {
    width: 9em;
  }
  .dev div {
    width: 70%;
  }
  .team h3 {
    font-size: 1.1em;
    margin: .7em;
  }
}

.team {
  padding: 1%;
  text-align: center;
}

.team:last-of-type {
  margin-top: 4%;
}

.team img {
  margin-left: 2.5%;
}

.team .memberPhoto {
  display: block;
  margin: auto;
  border-radius: 5%;
  box-shadow: 2px 4px 10px 0px rgb(100, 100, 100, .50);
}

.dev {
  display: inline-block;
  width: 49%;
}

.dev div {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
