.header-title {
  font-size: 6em;
  font-weight: 500;
  padding-right: .5em;
}

.team {
  background-color: white;
  padding: 1%;
  margin-top: 5%;
}

.team:last-of-type {
  margin-top: 10%;
}

h1,h2,h3 {
  font-size: 3em;
  text-align: center;
}

.dev {
  display: inline-block;
  width: 49%;
}

.team img {
  width: 7em;

}
