h1, h3, p {
    margin: 10px;
}

.header {
    justify-content: left;
}

.shortcuts {
    width: 95%;
    height: 15%;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}

.shortcuts div {
    width: 32%;
    display: inline-block;
    text-align: center;
    margin-top: 3%;
}
.shortcuts img {
    width: 30%;
    height: auto;
}

.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:2px solid black;
}


.slider-container {
    width: 100%;
    overflow-x: scroll;
    margin: 10px 0;
}

.photos-container {
    white-space:nowrap;
    /* width: 500% */
}

.photo-slide {
    /* width: 300px;
    height: 500px;
    float:left; */
    display: inline-block;
}

.photo-slide img {
    width: auto;
    height: 100px;
}

.info-menu ul li {
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}
.info-menu ul li a {
    color: black;
    text-decoration: none;
}

.overview {
    position: relative;
    height: 50%;
    overflow: scroll;
}
.amenity-container{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}
.amenity-column{
    width: 50%;
}

.amenity-item {
    position: relative;
    padding: 10px;
    height: 4vh;
}

.amenity-item img {
    height: 100%;
    padding-right: 6px;
}

.amenity-item span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.weather-item {
    display: flex;
    height: 10vh;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 3vh;
}
.weather-item > div,.weather-symbol img{
    height: 100%;
    padding: 1vw;
}
.weather-day, .weather-temp  {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.weather-other{
    height: 25%;
    padding-bottom: 5px;
    /* padding: 5px; */
}

.weather-other img{
    height: 100%;
}

.weather-other span {
    padding-left: 10px;
}

.weather h3 {
    margin: 0;
}
