@media (min-width: 1281px) {
  /* Desktops */

  .camp-title {
    position: relative;
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .camp-title h1 {
    width: 95%;
    margin: 25px auto;
    display: inline-block;
  }

  .camp-title img {
    width: 5%;
  }

  .slider-container {
    width: 65%;
    margin: auto;
  }

  .info-menu {
    width: 50%;
    margin: 0 auto;
  }

  .info-menu ul li {
    padding-right: 35%;
  }

  .info-menu ul li a {
      padding-bottom: 0.5%;
    }

  .overview {
    width: 65%;
    overflow-x: hidden;
    margin: auto;
  }

  .amenity-container {
    width: 100vw;
  }

  .weather {
    width: 65%;
    margin: auto;
  }

  .weather-item {
    height: 7vh;
    padding: 1% 0;
  }

  .camp-page #map {
    width: 65%;
    height: 53vh;
    margin: auto;
  }

  .address {
    width: 65%;
    margin: auto;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Laptops/Desktops */

  .camp-title {
    position: relative;
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .camp-title h1 {
    width: 90%;
    margin: 25px auto;
    display: inline-block;
  }

  .camp-title img {
    width: 8%;
  }

  .slider-container {
    width: 65%;
    margin: auto;
  }

  .info-menu {
    width: 60%;
    margin: 0 auto;
  }

  .info-menu ul li {
    padding-right: 30%;
  }

  .info-menu ul li a {
      padding-bottom: 0.5%;
    }

  .overview {
    width: 65%;
    overflow-x: hidden;
    margin: auto;
  }

  .amenity-container {
    width: 95vw;
  }

  .weather {
    width: 65%;
    margin: auto;
  }

  .weather-item {
    height: 8vh;
    padding: 1% 0;
  }

  .camp-page #map {
    width: 65%;
    height: 35vh;
    margin: auto;
  }

  .address {
    width: 65%;
    margin: auto;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets, Ipads, Portrait */

  .camp-title {
    position: relative;
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .camp-title h1 {
    width: 90%;
    margin: 10px auto;
  }

  .camp-title img {
    width: 11%;
  }

  .slider-container {
    width: 65%;
    margin: auto;
  }

  .info-menu {
    width: 70%;
    margin: 0 auto;
  }

  .info-menu ul li {
    padding-right: 25%;
  }

  .info-menu ul li a {
    padding-bottom: 0.5%;
  }

  .overview {
    width: 65%;
    overflow-x: hidden;
    margin: auto;
  }

  .weather {
    width: 65%;
    margin: auto;
  }

  .weather-item {
    height: 8vh;
    padding: 1% 0;
  }


  .camp-page #map {
    width: 65%;
    height: 54vh;
    margin: auto;
  }

  .address {
    width: 65%;
    margin: auto;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  /* Low Res Tablets, Mobile Phones (Landscape) */

  .camp-page h1, .camp-page h3, .camp-page p{
      margin: 10px;
  }

  .camp-title h1 {
    font-size: 1.75em;
    width: 80%;
    display: inline-block;
  }

  .camp-title {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;

  }

  .camp-title img {
    width: 13%;
  }

  .slider-container {
    margin: 10px 0;
  }


  .info-menu ul li {
    padding-right: 20%;
  }

  .info-menu ul li a {
    padding-bottom: 0.5%;
  }

  .overview {
    width: 80%;
  }

  .overview a {
    margin: 10px;
  }

  .amenity-container {
    width: 90vw;
  }


  .weather-item {
      height: 10vh;
      padding-bottom: 3vh;
  }

  .weather-item > div,.weather-symbol img{
      padding: 1vw;
  }

  .camp-page #map {
      height: 50vh;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  /* Mobile Phones */

  .camp-page h1, .camp-page h3, .camp-page p{
      margin: 10px;
  }

  .camp-title {
    display: flex;
    align-items: center;
  }

  .camp-title h1 {
    font-size: 1.5em;
    height: 14%;
    width: 78%;
    display: inline-block;
  }

  .camp-title img {
      width: 15%;
      margin-top: 2px;
  }

  .slider-container {
      margin: 10px 0;
  }

  .info-menu ul {
    padding: 0 10px;
  }

  .info-menu ul li {
      padding-right: 15%;
  }

  .info-menu ul li a {
      padding-bottom: 2%;
    }

    .overview {
      height: 50%;
      overflow: scroll;
    }

    .overview a {
      margin: 10px;
    }

    .amenity-container {
      width: 100vw;
    }

    .weather-item {
        height: 10vh;
        padding-bottom: 3vh;
    }

    .weather-item > div,.weather-symbol img{
        padding: 1vw;

    }

    .camp-page #map {
        height: 41vh;
    }

}



.camp-page h3, .camp-page p{
    /* margin: 10px; */
}

.header {
    justify-content: left;
}

.slider-container {
    overflow-x: scroll;
}

.photos-container {
    white-space:nowrap;
}

.photo-slide {
    display: inline-block;
}

.photo-slide img {
    width: auto;
    height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.photo-slide:hover {opacity: 0.7;}


/* The Modal (background) pulled from w3*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 700px;
}

.modal img {
    width: 80%;
}

/* Add Animation */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



.info-menu ul li {
    list-style-type: none;
    display: inline;
}

.info-menu ul li a {
    color: black;
    text-decoration: none;
    position: relative;
  }

.info-menu ul li a.active {
      color: green;
  }

.info-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: green;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.info-menu a.active:before {
    visibility: visible;
    transform: scaleX(1);
  }

.overview {
    position: relative;
}

.overview a{
    /* margin: 10px; */
    word-wrap: break-word;
    display: block;
}

.read-more{
    color: blue;
    cursor: pointer
}

.amenity-container{

    display: flex;
    flex-flow: row wrap;
}
.amenity-column{
    width: 50%;
}

.amenity-item {
    position: relative;
    padding: 10px;
    height: 4vh;
}

.amenity-item img {
    height: 100%;
    padding-right: 6px;
}

.amenity-item span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.weather-item {
    display: flex;
    align-content: center;
    justify-content: space-around;
    border-bottom: 2px solid rgba(56,29,29,0.15);
}

.weather-item > div,.weather-symbol img{
    height: 100%;
}

.weather-day, .weather-temp  {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.weather-other{
    height: 25%;
    padding-bottom: 5px;
    /* padding: 5px; */
}

.weather-other img{
    height: 100%;
}

.weather-other span {
    padding-left: 10px;
}

.weather h3 {
    margin: 0;
    font-size: 1.2em;
}

.address {
    display: flex;
    align-items: center;
}

.address > div {
    width: 64%
}

.directions-button {
    width: 7.5em;
    height: 2em;
    font-size: 1em;
    letter-spacing: .1em;
    border-style: none;
    border-radius: .3em;
    font-family: 'Raleway', sans-serif;
    background-color: #33533e;
    color: rgb(241, 238, 238);
    display: inline-block
}
