@media (min-width: 1281px) {
  /* Desktops */

  div[role] > div:first-of-type {
    width: 15vw;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Laptops/Desktops */

  div[role] > div:first-of-type {
    height: 100vh;
    width: 20vw;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets, Ipads, Portrait */

  div[role] > div:first-of-type {
    width: 27vw;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  /* Low Res Tablets, Mobile Phones (Landscape) */

  div[role] > div:first-of-type {
    width: 40vw;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  /* Mobile Phones */
  div[role] > div:first-of-type {
    width: 50vw;
  }

  .sidebar div.pages h1 {
    font-size: 1.25em;
  }
}




.sidebar h1 {
  color: white;
}

.sidebar {
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-color: #365F44;
}


.sidebar .pages {
  position: absolute;
  transform: translate(0,-50%);
  left: 8%;
  top: 35%;
}

.sidebar .pages h1 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 225%;
  text-align: left;
}

div[role] > div:first-of-type {
  height: 100vh;
}




@media only screen and (orientation: landscape){
  .sidebar .pages {
    top: 40%
  }
}
