h1 {
  color: white;
}

.sidebar {
  display: inline-block;
  width: 55%;
  height: 100vh;
  background-color: #365F44;
}

.sidebar .pages {
  position: absolute;
  left: 3%;
  top: 15%;
}

.sidebar .pages h1 {
  font-size: 4em;
  font-weight: 300;
  line-height: 225%;
}
