@media (min-width: 1281px) {
  /* Desktops */

  .itinerary-card h1{
      font-size: 1.9em
  }

  .itinerary-card p{
      margin: 0;
      font-size: 1em
  }

  .trash-icon {
    height: 10vh;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Laptops/Desktops */

  .itinerary-card h1{
      font-size: 1.9em
  }

  .itinerary-card p{
      font-size: 1em
  }

  .trash-icon {
    height: 11vh;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets, Ipads, Portrait */

  .itinerary-card > img:first-child{
      width: 25%;
      height: 10vh;
  }

  .itinerary-card h1{
      font-size: 1.6em
  }

  .itinerary-card p{
      font-size: .85em
  }

  .trash-icon {
    height: 6vh;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  /* Low Res Tablets, Mobile Phones (Landscape) */

  .itinerary-card h1{
      font-size: 1.2em
  }

  .itinerary-card p{
      font-size: 1em
  }

  .trash-icon {
    height: 7vh;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  /* Mobile Phones */

  .itinerary-card h1{
      font-size: 1em;
  }

  .itinerary-card p{
      font-size: .8em;
  }

  .itinerary-card > img:first-child{
    height: 12vh;
    width: 30%;
  }

  .trash-icon {
    height: 40%;
  }

}

.itinerary-card {
    height: 25%;
    border-bottom: 2px solid rgba(56,29,29,0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itinerary-card h1{
    margin: 0;
}

.itinerary-card p{
    margin: 0;
}

.itinerary-card > img:first-child{
    width: 30%;
    height: auto;
    padding: 5%;
    object-fit: cover;
}

.trash-icon {
    padding-right: 5%
}

.empty-itinerary {
    text-align: center;
}

@media screen and (orientation: landscape) {
    .itinerary-card {
        height: 40%;
    }
    .itinerary-card > img:first-child{
        width: 20%;
    }

}
