@media (min-width: 1281px) {
  /* Desktops */

  .logo{
      width: 20vw;
  }

  .landing-page-input {
      width: 20vw;
      font-size: 1em;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Laptops/Desktops */

  .logo{
      width: 20vw;
  }

  .landing-page-input {
      width: 25vw;
      font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets, Ipads, Portrait */

  .logo{
      width: 30vw;
  }

  .landing-page-input {
      width: 40vw;
      font-size: 1em;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .logo{
      width: 40vw;
  }

  .landing-page-input {
      width: 40vw;
      font-size: 1em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /* Mobile Phones */

  .logo{
      width: 75vw;
  }

  .landing-page-input {
      width: 75vw;
      font-size: 1em;
  }
}

.landing-page-container{
    width: 100vw;
    position: absolute;
    top: 23%;
    text-align: center;
}

.landing-page-input {
    height: 2.5em;
    border-style: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    margin-top: 2em;
    text-align: center;
    background-color: whitesmoke;
}

.landing-page-input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.autocomplete-dropdown-container{
    font-family: 'Raleway', sans-serif;
}

.landing-page-background1, .landing-page-background2, .landing-page-background3 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-position: center;
    background-size: auto 100%;
}

.landing-page-background3{
    top:100%;
    animation:load_up 1s forwards;

    background-image: url(../images/backgrounds/wallpaper-layer3.png);
}
.landing-page-background2{
    top:100%;
    animation:load_up 1s forwards;
    animation-delay: .5s;
    background-image: url(../images/backgrounds/wallpaper-layer2.png);
}
.landing-page-background1{
    background-image: url(../images/backgrounds/wallpaper-layer1.png);
}

@keyframes load_up{
    from{top:100%}
    to{top:0%;}
}

@media screen and (orientation: landscape) {
    .logo{
        width: 25vw;
    }

    .landing-page-input {
        /* font-size: .8em; */
        margin-top: .5em;
        width: 37%;
    }
}

.itinerary-logo {
    position: absolute;
    width: 5rem;
    height: 5rem;
    z-index: 5;
    background-image: url("../images/itinerary-icon.png");
    background-size: contain;
}

.itinerary-logo:hover {
    cursor: pointer;
    background-image: url("../images/itinerary-icon-hover.png");
}

/* .submit-button {
    width: 80vw;
    height: 12vw;
    font-size: 1.3em;
    border-style: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    background-color: #33533e;
    color: rgb(241, 238, 238);
} */
