@media (min-width: 1281px) {
  /* Desktops */

  .logo{
      width: 20vw;
  }

  .landing-page-input {
      width: 30vw;
      /* height: 5vw; */
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Laptops/Desktops */

  .logo{
      width: 40vw;
  }

  .landing-page-input {
      width: 50vw;
      /* height: 10vw; */
  }


}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets, Ipads, Portrait */

  .logo{
      width: 40vw;
  }

  .landing-page-input {
      width: 55vw;
      /* height: 10vw; */
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  /* Mobile Phones */
  .logo{
      width: 80vw;
  }

  .landing-page-input {
      width: 75vw;
      /* height: 7vh; */
  }
}

.landing-page-container{
    width: 100vw;
    position: absolute;
    top: 15%;
    text-align: center;
}


.landing-page-input {
    height: 10vh;
    font-size: 1.5em;
    border-style: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    text-align: center;
}

.autocomplete-dropdown-container{
    font-family: 'Raleway', sans-serif;
}


/* .submit-button {
    width: 80vw;
    height: 12vw;
    font-size: 1.3em;
    border-style: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    background-color: #33533e;
    color: rgb(241, 238, 238);
} */
