.resultList {
  display: inline-block;
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(56,29,29,0.15);
  padding: 1%;
}

.resultList .camp-thumbnail {
  width: 50%;
  display: inline-block;
}

.resultList img {
  width: 95%;
  display: inline-block;
}

.resultList .info {
  display: inline-block;
  width: 49%;
  text-align: center;
  vertical-align: top;
}

.resultList .info .parkName {
  font-size: .85em;
  font-weight: 400;
  width: 98%;
}

.resultList .info h3 {
  font-size: 80%;
  font-weight: 200;
}

.resultList .info a {
  font-size: .85em;
}

.resultList .info h3 a {
  font-size: 1em;
}

.googleMap img {
  width: 95%;
  display: block;
  margin: auto;
  padding-top: 5%
}
