.card {
  display: inline-block;
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(56,29,29,0.15);
  padding: 2%;
}

.card img {
  width: 50%;
}

.info {
  display: inline-block;
  width: 50%;
  text-align: center;
  line-height: 12px;
  position: absolute;
  right: 0%;
  bottom: 10%;

}

.info .parkName {
  font-size: 1.5em;
  font-weight: 200;
}

.info h3 {
  font-size: .75em;
  font-weight: 200;
}

.googleMap img {
  width: 95%;
  display: block;
  margin: auto;
  padding-top: 5%
}
