body {
    width: 100vw;
    height: 100vh;
    background-color: #C4C4C4;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h3, p {
    margin: 10px;
}

.bar{
    width: 100%;
    height: 10%;
    background-color: #284E35;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.backButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}
.backButton > img {
    margin: 2.5vh 1vh;
    height: 5vh;
}
.header {
    position: absolute;
    top: 10%;
}

.shortcuts {
    width: 95%;
    height: 13%;
    position: absolute;
    top: 24%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.shortcuts div {
    width: 32%;
    display: inline-block;
    text-align: center;
    margin-top: 3%;
}
.shortcuts img {
    width: 30%;
    height: auto;
}

.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:2px solid black;
}


.slider-container {
    width: 100%;
    overflow-x: scroll;
    margin: 10px 0;
    position: absolute;
    top: 38%;
}

.photos-container {
    width: 500%
}

.photo-slide {
    /* width: 300px;
    height: 500px;
    float:left; */
    display: inline-block;
}

.photo-slide img {
    width: auto;
    height: 100px;
}

.info-container {
    position: absolute;
    top: 55%;
}

.info-menu ul li {
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}
.info-menu ul li a {
    color: black;
    text-decoration: none;
}

.overview {
    position: relative;
    height: 50%;
    overflow: scroll;
}

.amentity-item img {
    height: 4vh;
}
