body {
    width: 100vw;
    height: 100vh;
    background-color: #C4C4C4;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h3, p {
    margin: 10px;
}

.bar{
    width: 100%;
    height: 10%;
    background-color: #284E35;
}

.backButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}
.backButton > img {
    margin: 2.5vh 1vh;
    height: 5vh;
}

.shortcuts {
    width: 90%;
    height: 13%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.shortcuts div {
    width: 32%;
    display: inline-block;
    text-align: center;
    margin-top: 3%;
}
.shortcuts img {
    width: 30%;
    height: auto;
}

.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:2px solid black;
}


.slider-container {
    width: 100%;
    overflow-x: scroll;
    margin: 10px 0;
}

.photos-container {
    width: 500%
}

.photo-slide {
    /* width: 300px;
    height: 500px;
    float:left; */
    display: inline-block;
}

.photo-slide img {
    width: auto;
    height: 100px;
}

.nav-menu ul li {
    list-style-type: none;
    display: inline;
}
