* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  font-family: Raleway;
  color: white;
}

.sidebar {
  display: inline-block;
  width: 90%;
  height: 100vh;
  background-color: #365F44;
}

.sidebar .pages h1 {
  text-align: center;
  font-size: 6em;
  text-shadow: 5px 5px black;
  line-height: 100%;
}

.sidebar .exit h1  {
  text-align: right;
  margin-right: 3%;
  font-size: 3em;
}

.sidebar .pages {
  position: absolute;
  left: 15%;
  top: 25%;
}

.content {
  display: inline-block;
  width: 10%;
  background-color: green;
  height: 100%;
}
