.landing-page-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

.logo{
    width: 80vw;
    margin-left: auto;
    margin-right: auto
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.submit-input {
    width: 80vw;
    height: 12vw;
    font-size: 1.5em;
    border-style: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    text-align: center;
}

.submit-button {
    width: 80vw;
    height: 12vw;
    font-size: 1.3em;
    border-style: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    background-color: #33533e;
    color: rgb(241, 238, 238);


}
