body {
    width: 100vw;
    height: 100vh;
    background-color: #284E35;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.landing-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

.logo{
    width: 80vw;
    margin-left: auto;
    margin-right: auto
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.submit-input {
    width: 80vw;
    height: 10vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #381D1D;
    color: gray;
    font-family: 'Raleway', sans-serif;
    border-style: none;
    width: 80vw;
    height: 10vw;
    margin-top: 20px;
}
